<main class="w-full h-full flex flex-column justify-content-center align-items-center">
    <form class="card-container h-26rem relative" [formGroup]="formLogin">
        <h1 class="absolute title-header">Login</h1>

        <div class="h-full w-full flex flex-column justify-content-center gap-5 pt-5 p-4">
            <!-- Campo Nome -->
            <div class="h-4rem w-full flex flex-column justify-content-start">
                <p-floatlabel variant="on">
                    <input type="text" pInputText class="login-input"  formControlName="username" />
                    <label class="login-input" for="username">Nome</label>
                </p-floatlabel>
            </div>

            <!-- Campo Senha -->
            <div class="h-4rem w-full flex flex-column justify-content-start">
                <p-floatlabel variant="on">
                    <input type="password" pInputText class="login-input" formControlName="password" autocomplete="current-password" />
                    <label class="login-input" for="password">Senha</label>
                </p-floatlabel>
            </div>

            <a href=""> Esqueci minha senha</a>
        </div>

        <button class="button-around absolute" (click)="onSubmit()">
            <span class="flex align-items-center">Entrar</span>
        </button>
    </form>
</main>