<div class="flex flex-column gap-5">
<app-content-card
  title="Primeiro Bloco" styleClass="fill">
  <div class="text-content">
    Este card não tem imagem.
  </div>
</app-content-card>

<app-content-card
  title="Segundo Bloco"
  styleClass="border">
  <div class="text-content">
  <img class="w-full" src="https://images.unsplash.com/photo-1504674900247-0877df9cc836?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Y2F0fGVufDB8fDB8fA%3D%3D&w=1000&q=80" alt="">
  </div>
</app-content-card>


</div>