.card-container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  background-color: var(--ivory);
  border-radius: 2rem;
  padding: 1.5rem;
  margin-bottom: 2rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  gap: 2rem;
  border: 1px solid var(--brown-70);
  flex-wrap: wrap;
}

.card-container.reverse {
  flex-direction: row-reverse;
}

.card-text {
  flex: 2;
}

.card-text h2 {
  font-size: 1.6rem;
  margin-bottom: 0.8rem;
  color: var(--brown);
}

.card-text p {
  font-size: 1.1rem;
  color: var(--brown);
}

.card-image {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-image img {
  width: 100%;
  max-width: 300px;
  border-radius: 2rem;
}
