header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1.5rem 0;
    transition: all 0.3s ease;
    z-index: 999;
}

header.shrink {
    padding: 0.4rem 0;
}

.nav-wrapper {
    height: 6rem;
    background-color: var(--sage-sand);
    width: 90%;
    border-radius: 0 5rem 5rem 0;
    position: relative;
    box-shadow: -1px 3px 3px -3px #3a2f1f;
}

.nav-wrapper ul {
    display: flex;
    justify-content: center;
    position: absolute;
    gap: .5rem;
    bottom: -2.5rem;
    right: 5rem;
}

.nav-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: var(--dusty-ivory);
    border-radius: 3rem;
    padding: .5rem 0.6rem;
    box-shadow: inset -1px 3px 3px -3px #3a2f1f;
    display: flex;
    align-content: center;
    align-items: center;
}

li.nav-menu a {
    text-decoration: none;
    padding: 0.5rem 1rem;
    background-color: var(--sage-sand);
    border-radius: 2rem;
    color: var(--deep-bark);
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    transition: all 0.2s ease;
}

li.nav-menu a:hover {
    background-color: var(--tide-sand);
}

li.nav-menu a:active {
    background-color: var(--deep-berk-100);
    color: var(--sage-sand);
}