<header [class.shrink]="isShrunk">
    <nav class="nav-wrapper">
        <ul class="nav-menu">
            <li><a routerLink="/"><i class="fa fa-home"></i> Home</a></li>
            <li><a routerLink="/classes"><i class="fa fa-yin-yang"></i> Yoga</a></li>
            <li><a routerLink="/publication"><i class="fa fa-book"></i> Publicações</a></li>
            <li><a routerLink="/projects"><i class="fa fa-trophy"></i> Projetos</a></li>
            <li><a routerLink="/about"><i class="fa fa-leaf"></i> Quem é Ve!?</a></li>
        </ul>
    </nav>
</header>